<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-brand" href="#">
      <a class="navbar-item">
        <img src="assets\image\logo2.png" style="max-width:70px;">
      </a>
    </div>

  <a class="navbar-brand" href="#">SwamiShree</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/events" routerLinkActive="active">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/special" routerLinkActive="active">Haribhakt</a>
        
      </li>
    <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" href="/special" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Global Network</a>
        <div class="dropdown-menu">
          
          <a class="dropdown-item" href="/india">India</a>
          <a class="dropdown-item" href="/northamerica">North America</a>
          <a class="dropdown-item" href="#">UK & Europ</a>
          <a class="dropdown-item" href="#">Africa</a>
          <a class="dropdown-item" href="#">Asia Pacific</a>
          <a class="dropdown-item" href="#">Middle East</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Global Network</a>
        </div>
       
        </li>
        <!-- <select [(ngModel)]="selected" name="status" class="dropdown" placeholder="select" (ngModelChange)="onOptionsSelected()">
          <option *ngFor="let sta of status" [ngValue]="sta">{{sta}}</option>
      </select>
  <div>
    {{filtered|json}}
  </div> -->
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-0 my-sm-10" type="submit">Search</button>
    </form>
    <ul class="navbar-nav">
      
        <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
        <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/register" routerLinkActive="active">Register</a>
        <a class="nav-link" style="cursor:pointer" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()">Logout</a>        
    </ul>

  </div>
</nav>
 
 

<div class="container">  
<!-- <div class="gallery">
  <a target="_blank" href="assets\image\god1.png">
    <img src="assets\image\god1.png" alt="Cinque Terre" width="100" height="100">
  </a>
  <div class="desc">BHAGWAN SWAMINARAYAN</div>
</div>

<div class="gallery">
  <a target="_blank" href="assets\image\gunatitanandswami.png">
    <img src="assets\image\gunatitanandswami.png" alt="Forest" width="100" height="100">
  </a>
  <div class="desc">GUNATITANAND SWAMI</div>
</div>
<div class="gallery">
  <a target="_blank" href="assets\image\bhagatji.png">
    <img src="assets\image\bhagatji.png" alt="Forest" width="100" height="100">
  </a>
  <div class="desc">BHAGATJI MAHARAJ</div>
</div>
<div class="gallery">
  <a target="_blank" href="assets\image\Shastriji.png">
    <img src="assets\image\Shastriji.png" alt="Forest" width="100" height="100">
  </a>
  <div class="desc">SHASHTRIJI MAHARAJ</div>
</div>
<div class="gallery">
  <a target="_blank" href="assets\image\yogi.png">
    <img src="assets\image\yogi.png" alt="Forest" width="100" height="100">
  </a>
  <div class="desc">YOGIJI MAHARAJ</div>
</div>
<div class="gallery">
  <a target="_blank" href="assets\image\pramukhswami.png">
    <img src="assets\image\pramukhswami.png" alt="Forest" width="100" height="100">
  </a>
  <div class="desc">PRAMUKHSWAMI MAHARAJ</div>
</div>
<div class="gallery">
  <a target="_blank" href="assets\image\mahantswami.png">
    <img src="assets\image\mahantswami.png" alt="Forest" width="100" height="100">
  </a>
  <div class="desc">MAHANTSWAMI MAHARAJ</div> -->

  <img src="assets\image\god1.png" style="max-width:150px;" style="vertical-align:middle">
  <img src="assets\image\gunatitanandswami.png" style="max-width:150px;">
  <img src="assets\image\bhagatji.png" style="max-width:150px;">
  <img src="assets\image\Shastriji.png" style="max-width:150px;">
  <img src="assets\image\yogi.png" style="max-width:150px;">
  <img src="assets\image\pramukhswami.png" style="max-width:150px;">
  <img src="assets\image\mahantswami.png" style="max-width:150px;">

  <router-outlet></router-outlet>            
</div>
  