<div id="ctl01_mainContent_ctl00_pnlLinks" class="flex-box row margintop0 justify-content-center  ">
					
    
   
    <style>
    .hidden{display:none;}
    </style>
    
    
         
             <div id="ctl01_mainContent_ctl00_rptLinks_ctl00_l1" class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 item4">
                            
              <div class="  padding5   ">
                 <div id="ctl01_mainContent_ctl00_rptLinks_ctl00_clink" class="   margintop0 marginbottom0 paddingbottom0 paddingtop0">
                                
                        <a href="https://www.baps.org/Global-Network/North-America/Atlanta.aspx">
                        
                        <h3 class="text-medium borderbottom ">
    
                          Atlanta</h3></a>
                   
                    
                            </div>
                    
                     <div id="ctl01_mainContent_ctl00_rptLinks_ctl00_pnlimg">
                                
                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                     <a href="https://www.baps.org/Global-Network/North-America/Atlanta.aspx">
                         <img src="https://www.baps.org//Data/Sites/1/Media/LocationImages/1301_Homepage Photo-f.jpg" class="carousel-inner img-thumbnail" alt="">
                         </a>
                     </div>
                
                            </div>
                     
                    <div class="description">
                    
                     BAPS Shri Swaminarayan Mandir<br>     
    
                                
                                            <div id="ctl01_mainContent_ctl00_rptLinks_ctl00_Pl1">
                                
                                             
                                                460 Rockbridge Road NW   <br>
                                                
                                                Lilburn, GA 30047  
                                                USA
                                                
                                            
                            </div>
                                            
                                             
                                            <strong style="color:SaddleBrown;">Tel: </strong>(678) 906-2277 
                                            <br><strong style="color:SaddleBrown;">Fax: </strong>
                                            (678) 906-2984
                                            <br><strong style="color:SaddleBrown;">E-mail: </strong><a href="mailto:info.atlanta@usa.baps.org">info.atlanta@usa.baps.org</a>
                                           
                    </div>
               </div> 
            
                        </div> 
         
             <div id="ctl01_mainContent_ctl00_rptLinks_ctl01_l1" class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 item4">
                            
              <div class="  padding5   ">
                 <div id="ctl01_mainContent_ctl00_rptLinks_ctl01_clink" class="   margintop0 marginbottom0 paddingbottom0 paddingtop0">
                                
                        <a href="https://www.baps.org/Global-Network/North-America/Chicago.aspx">
                        
                        <h3 class="text-medium borderbottom " >
    
                          Chicago</h3></a>
                   
                    
                            </div>
                    
                     <div id="ctl01_mainContent_ctl00_rptLinks_ctl01_pnlimg">
                                
                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                     <a href="https://www.baps.org/Global-Network/North-America/Chicago.aspx">
                         <img src="https://www.baps.org//Data/Sites/1/Media/LocationImages/21mandirss.jpg" class="carousel-inner img-thumbnail" alt="">
                         </a>
                     </div>
                
                            </div>
                     
                    <div class="description">
                    
                     BAPS Shri Swaminarayan Mandir<br>     
    
                                
                                            <div id="ctl01_mainContent_ctl00_rptLinks_ctl01_Pl1">
                                
                                             
                                                1851 S IL Route 59  <br>
                                                Pramukh Swami Rd <br>
                                                Bartlett, IL 60103-3008 
                                                USA
                                                
                                            
                            </div>
                                            
                                             
                                            <strong style="color:SaddleBrown;">Tel: </strong>(630) 213 2277  
                                            <br><strong style="color:SaddleBrown;">Fax: </strong>
                                            (630) 213 2088
                                            <br><strong style="color:SaddleBrown;">E-mail: </strong><a href="mailto:info.chicago@usa.baps.org">info.chicago@usa.baps.org</a>
                                           
                    </div>
               </div> 
            
                        </div> 
         
             <div id="ctl01_mainContent_ctl00_rptLinks_ctl02_l1" class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 item4">
                            
              <div class="  padding5   ">
                 <div id="ctl01_mainContent_ctl00_rptLinks_ctl02_clink" class="   margintop0 marginbottom0 paddingbottom0 paddingtop0">
                                
                        <a href="https://www.baps.org/Global-Network/North-America/Houston.aspx">
                        
                        <h3 class="text-medium borderbottom " >
    
                          Houston</h3></a>
                   
                    
                            </div>
                    
                     <div id="ctl01_mainContent_ctl00_rptLinks_ctl02_pnlimg">
                                
                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                     <a href="https://www.baps.org/Global-Network/North-America/Houston.aspx">
                         <img src="https://www.baps.org//Data/Sites/1/Media/LocationImages/3636-houston.jpg" class="carousel-inner img-thumbnail" alt="">
                         </a>
                     </div>
                
                            </div>
                     
                    <div class="description">
                    
                     BAPS Shri Swaminarayan Mandir<br>     
    
                                
                                            <div id="ctl01_mainContent_ctl00_rptLinks_ctl02_Pl1">
                                
                                             
                                                1150 Brand Lane  <br>
                                                
                                                Stafford, TX 77477 
                                                USA
                                                
                                            
                            </div>
                                            
                                             
                                            <strong style="color:SaddleBrown;">Tel: </strong>281-765-2277
                                            <br><strong style="color:SaddleBrown;">Fax: </strong>
                                            281-765 2278  
                                            <br><strong style="color:SaddleBrown;">E-mail: </strong><a href="mailto:info.houston@usa.baps.org">info.houston@usa.baps.org</a>
                                           
                    </div>
               </div> 
            
                        </div> 
         
             <div id="ctl01_mainContent_ctl00_rptLinks_ctl03_l1" class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 item4">
                            
              <div class="  padding5   ">
                 <div id="ctl01_mainContent_ctl00_rptLinks_ctl03_clink" class="   margintop0 marginbottom0 paddingbottom0 paddingtop0">
                                
                        <a href="https://www.baps.org/Global-Network/North-America/LosAngeles.aspx">
                        
                        <h3 class="text-medium borderbottom " >
    
                          Los Angeles</h3></a>
                   
                    
                            </div>
                    
                     <div id="ctl01_mainContent_ctl00_rptLinks_ctl03_pnlimg">
                                
                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                     <a href="https://www.baps.org/Global-Network/North-America/LosAngeles.aspx">
                         <img src="https://www.baps.org//Data/Sites/1/Media/LocationImages/43la1.jpg" class="carousel-inner img-thumbnail" alt="">
                         </a>
                     </div>
                
                            </div>
                     
                    <div class="description">
                    
                     BAPS Shri Swaminarayan Mandir<br>     
    
                                
                                            <div id="ctl01_mainContent_ctl00_rptLinks_ctl03_Pl1">
                                
                                             
                                                15100 Fairfield Ranch Rd.  <br>
                                                
                                                Chino Hills, CA 91709 
                                                USA
                                                
                                            
                            </div>
                                            
                                             
                                            <strong style="color:SaddleBrown;">Tel: </strong>(909) 614 5000
                                            <br><strong style="color:SaddleBrown;">Fax: </strong>
                                            (909) 614 5050
                                            <a href="mailto:"></a>
                                           
                    </div>
               </div> 
            
                        </div> 
         
             <div id="ctl01_mainContent_ctl00_rptLinks_ctl04_l1" class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 item4">
                            
              <div class="  padding5   ">
                 <div id="ctl01_mainContent_ctl00_rptLinks_ctl04_clink" class="   margintop0 marginbottom0 paddingbottom0 paddingtop0">
                                
                        <a href="https://www.baps.org/Global-Network/North-America/Robbinsville.aspx">
                        
                        <h3 class="text-medium borderbottom ">
    
                          Robbinsville</h3></a>
                   
                    
                            </div>
                    
                     <div id="ctl01_mainContent_ctl00_rptLinks_ctl04_pnlimg">
                                
                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                     <a href="https://www.baps.org/Global-Network/North-America/Robbinsville.aspx">
                         <img src="https://www.baps.org//Data/Sites/1/Media/LocationImages/FullSizeImages/865New robbinsiville 2.jpeg" class="carousel-inner img-thumbnail" alt="">
                         </a>
                     </div>
                
                            </div>
                     
                    <div class="description">
                    
                     BAPS Shri Swaminarayan Mandir<br>     
    
                                
                                            <div id="ctl01_mainContent_ctl00_rptLinks_ctl04_Pl1">
                                
                                             
                                                112 N Main Street  <br>
                                                
                                                Robbinsville, NJ 08561 
                                                USA
                                                
                                            
                            </div>
                                            
                                             
                                            <strong style="color:SaddleBrown;">Tel: </strong>(609)-918-1212
                                            <br><strong style="color:SaddleBrown;">Fax: </strong>
                                            (609)-918-1111
                                            <br><strong style="color:SaddleBrown;">E-mail: </strong><a href="mailto:info.rbv@usa.baps.org">info.rbv@usa.baps.org</a>
                                           
                    </div>
               </div> 
            
                        </div> 
         
             <div id="ctl01_mainContent_ctl00_rptLinks_ctl05_l1" class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 item4">
                            
              <div class="  padding5   ">
                 <div id="ctl01_mainContent_ctl00_rptLinks_ctl05_clink" class="   margintop0 marginbottom0 paddingbottom0 paddingtop0">
                                
                        <a href="https://www.baps.org/Global-Network/North-America/Toronto.aspx">
                        
                        <h3 class="text-medium borderbottom " >
    
                          Toronto</h3></a>
                   
                    
                            </div>
                    
                     <div id="ctl01_mainContent_ctl00_rptLinks_ctl05_pnlimg">
                                
                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                     <a href="https://www.baps.org/Global-Network/North-America/Toronto.aspx">
                         <img src="https://www.baps.org//Data/Sites/1/Media/LocationImages/75toronto-mandir.jpg" class="carousel-inner img-thumbnail" alt="">
                         </a>
                     </div>
                
                            </div>
                     
                    <div class="description">
                    
                     BAPS Shri Swaminarayan Mandir<br>     
    
                                
                                            <div id="ctl01_mainContent_ctl00_rptLinks_ctl05_Pl1">
                                
                                             
                                                61 Claireville Drive,   <br>
                                                
                                                Toronto, ON M9W 5Z7 
                                                Canada
                                                
                                            
                            </div>
                                            
                                             
                                            <strong style="color:SaddleBrown;">Tel: </strong>(416) 798-2277
                                            <br><strong style="color:SaddleBrown;">Fax: </strong>
                                            (416) 798-4498
                                            <br><strong style="color:SaddleBrown;">E-mail: </strong><a href="mailto:info.toronto@ca.baps.org">info.toronto@ca.baps.org</a>
                                           
                    </div>
               </div> 
            
                        </div> 
         
             <div id="ctl01_mainContent_ctl00_rptLinks_ctl06_l1" class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 item4">
                            
              <div class="  padding5   ">
                 <div id="ctl01_mainContent_ctl00_rptLinks_ctl06_clink" class="   margintop0 marginbottom0 paddingbottom0 paddingtop0">
                                
                        <a href="https://www.baps.org/Global-Network/North-America/Edison.aspx">
                        
                        <h3 class="text-medium borderbottom " >
    
                          Edison</h3></a>
                   
                    
                            </div>
                    
                     <div id="ctl01_mainContent_ctl00_rptLinks_ctl06_pnlimg">
                                
                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                     <a href="https://www.baps.org/Global-Network/North-America/Edison.aspx">
                         <img src="https://www.baps.org//Data/Sites/1/Media/LocationImages/8edison.jpg" class="carousel-inner img-thumbnail" alt="">
                         </a>
                     </div>
                
                            </div>
                     
                    <div class="description">
                    
                     BAPS Shri Swaminarayan Mandir<br>     
    
                                
                                            <div id="ctl01_mainContent_ctl00_rptLinks_ctl06_Pl1">
                                
                                             
                                                2500 Woodbridge Avenue,  <br>
                                                
                                                Edison, NJ 08817  
                                                USA
                                                
                                            
                            </div>
                                            
                                             
                                            <strong style="color:SaddleBrown;">Tel: </strong>(732) 572 1234  
                                            <br><strong style="color:SaddleBrown;">Fax: </strong>
                                            (732) 572 3778
                                            <a href="mailto:"></a>
                                           
                    </div>
               </div> 
            
                        </div> 
         
             <div id="ctl01_mainContent_ctl00_rptLinks_ctl07_l1" class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 item4">
                            
              <div class="  padding5   ">
                 <div id="ctl01_mainContent_ctl00_rptLinks_ctl07_clink" class="   margintop0 marginbottom0 paddingbottom0 paddingtop0">
                                
                        <a href="https://www.baps.org/Global-Network/North-America/SanJose.aspx">
                        
                        <h3 class="text-medium borderbottom " >
    
                          San Jose</h3></a>
                   
                    
                            </div>
                    
                     <div id="ctl01_mainContent_ctl00_rptLinks_ctl07_pnlimg">
                                
                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                     <a href="https://www.baps.org/Global-Network/North-America/SanJose.aspx">
                         <img src="https://www.baps.org//Data/Sites/1/Media/LocationImages/68Mandirf.jpg" class="carousel-inner img-thumbnail" alt="">
                         </a>
                     </div>
                
                            </div>
                     
                    <div class="description">
                    
                     BAPS Shri Swaminarayan Mandir<br>     
    
                                
                                            <div id="ctl01_mainContent_ctl00_rptLinks_ctl07_Pl1">
                                
                                             
                                                1430.California Circle,  <br>
                                                
                                                Milpitas, CA  95035 
                                                USA
                                                
                                            
                            </div>
                                            
                                             
                                            <strong style="color:SaddleBrown;">Tel: </strong>(408) 263 2277
                                            <br><strong style="color:SaddleBrown;">Fax: </strong>
                                            (408) 262 1022
                                            <a href="mailto:"></a>
                                           
                    </div>
               </div> 
            
                        </div> 
        
    
                    </div>